Tests/XmlResponse/PersonResults.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Alpha2">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NO"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Alpha3">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NOR"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="BaseClassId" type="xs:string"/>
	<xs:element name="BibNumber" type="xs:string"/>
	<xs:element name="BirthDate">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CCardId">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="154257"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ClassRaceInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EventRaceId"/>
			</xs:sequence>
			<xs:attribute name="noOfEntries">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="105"/>
						<xs:enumeration value="14"/>
						<xs:enumeration value="21"/>
						<xs:enumeration value="26"/>
						<xs:enumeration value="27"/>
						<xs:enumeration value="34"/>
						<xs:enumeration value="36"/>
						<xs:enumeration value="52"/>
						<xs:enumeration value="55"/>
						<xs:enumeration value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="noOfStarts">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="105"/>
						<xs:enumeration value="14"/>
						<xs:enumeration value="21"/>
						<xs:enumeration value="26"/>
						<xs:enumeration value="27"/>
						<xs:enumeration value="33"/>
						<xs:enumeration value="34"/>
						<xs:enumeration value="36"/>
						<xs:enumeration value="52"/>
						<xs:enumeration value="55"/>
						<xs:enumeration value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClassResult">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EventClass"/>
				<xs:element ref="PersonResult"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClassShortName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="A-Legendar"/>
				<xs:enumeration value="H 21-"/>
				<xs:enumeration value="H 21-E"/>
				<xs:enumeration value="H17"/>
				<xs:enumeration value="H21"/>
				<xs:enumeration value="H21A"/>
				<xs:enumeration value="Res"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ClassTypeId">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Clock">
		<xs:simpleType>
			<xs:restriction base="xs:time">
				<xs:enumeration value="00:00:00"/>
				<xs:enumeration value="00:00:03"/>
				<xs:enumeration value="01:57:20"/>
				<xs:enumeration value="08:22:49"/>
				<xs:enumeration value="08:23:02"/>
				<xs:enumeration value="08:43:40"/>
				<xs:enumeration value="10:04:07"/>
				<xs:enumeration value="10:04:28"/>
				<xs:enumeration value="10:06:13"/>
				<xs:enumeration value="10:53:00"/>
				<xs:enumeration value="11:00:00"/>
				<xs:enumeration value="11:07:00"/>
				<xs:enumeration value="11:09:19"/>
				<xs:enumeration value="11:09:24"/>
				<xs:enumeration value="11:13:00"/>
				<xs:enumeration value="11:28:00"/>
				<xs:enumeration value="11:30:00"/>
				<xs:enumeration value="11:42:35"/>
				<xs:enumeration value="11:44:00"/>
				<xs:enumeration value="11:53:53"/>
				<xs:enumeration value="11:53:58"/>
				<xs:enumeration value="12:00:00"/>
				<xs:enumeration value="12:20:05"/>
				<xs:enumeration value="12:32:14"/>
				<xs:enumeration value="12:50:43"/>
				<xs:enumeration value="13:00:00"/>
				<xs:enumeration value="13:39:00"/>
				<xs:enumeration value="13:40:00"/>
				<xs:enumeration value="13:52:00"/>
				<xs:enumeration value="14:35:49"/>
				<xs:enumeration value="14:36:34"/>
				<xs:enumeration value="14:41:59"/>
				<xs:enumeration value="14:42:06"/>
				<xs:enumeration value="14:47:53"/>
				<xs:enumeration value="14:49:52"/>
				<xs:enumeration value="14:51:08"/>
				<xs:enumeration value="14:56:05"/>
				<xs:enumeration value="14:56:16"/>
				<xs:enumeration value="16:37:12"/>
				<xs:enumeration value="17:11:41"/>
				<xs:enumeration value="18:02:24"/>
				<xs:enumeration value="18:06:21"/>
				<xs:enumeration value="18:30:00"/>
				<xs:enumeration value="18:31:00"/>
				<xs:enumeration value="18:46:00"/>
				<xs:enumeration value="18:54:52"/>
				<xs:enumeration value="19:00:00"/>
				<xs:enumeration value="19:15:00"/>
				<xs:enumeration value="19:22:42"/>
				<xs:enumeration value="19:28:35"/>
				<xs:enumeration value="19:35:46"/>
				<xs:enumeration value="19:38:17"/>
				<xs:enumeration value="19:38:59"/>
				<xs:enumeration value="19:45:00"/>
				<xs:enumeration value="20:00:00"/>
				<xs:enumeration value="20:15:00"/>
				<xs:enumeration value="20:36:10"/>
				<xs:enumeration value="20:52:51"/>
				<xs:enumeration value="21:00:00"/>
				<xs:enumeration value="21:04:52"/>
				<xs:enumeration value="21:15:00"/>
				<xs:enumeration value="21:37:29"/>
				<xs:enumeration value="21:55:12"/>
				<xs:enumeration value="21:56:34"/>
				<xs:enumeration value="22:03:14"/>
				<xs:enumeration value="22:03:15"/>
				<xs:enumeration value="22:04:55"/>
				<xs:enumeration value="22:19:40"/>
				<xs:enumeration value="22:19:42"/>
				<xs:enumeration value="22:26:40"/>
				<xs:enumeration value="22:26:42"/>
				<xs:enumeration value="22:58:28"/>
				<xs:enumeration value="23:02:36"/>
				<xs:enumeration value="23:02:48"/>
				<xs:enumeration value="23:22:08"/>
				<xs:enumeration value="23:23:08"/>
				<xs:enumeration value="23:23:24"/>
				<xs:enumeration value="23:29:14"/>
				<xs:enumeration value="23:46:27"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Comment">
		<xs:complexType mixed="true">
			<xs:attribute name="languageId">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="sv"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="CompetitorStatus">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Cancelled"/>
						<xs:enumeration value="Disqualified"/>
						<xs:enumeration value="OK"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Country">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CountryId"/>
				<xs:element ref="Alpha2"/>
				<xs:element ref="Alpha3"/>
				<xs:element ref="Name" maxOccurs="unbounded"/>
				<xs:element ref="ModifyDate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CountryId">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="578"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Date">
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:enumeration value="1977-11-29"/>
				<xs:enumeration value="2009-10-27"/>
				<xs:enumeration value="2012-03-27"/>
				<xs:enumeration value="2012-03-28"/>
				<xs:enumeration value="2012-04-20"/>
				<xs:enumeration value="2012-04-22"/>
				<xs:enumeration value="2012-04-23"/>
				<xs:enumeration value="2012-04-27"/>
				<xs:enumeration value="2012-04-28"/>
				<xs:enumeration value="2012-04-29"/>
				<xs:enumeration value="2012-04-30"/>
				<xs:enumeration value="2012-05-19"/>
				<xs:enumeration value="2012-05-20"/>
				<xs:enumeration value="2012-05-21"/>
				<xs:enumeration value="2012-05-26"/>
				<xs:enumeration value="2012-05-27"/>
				<xs:enumeration value="2012-05-28"/>
				<xs:enumeration value="2012-05-29"/>
				<xs:enumeration value="2012-05-30"/>
				<xs:enumeration value="2012-06-02"/>
				<xs:enumeration value="2012-06-03"/>
				<xs:enumeration value="2012-06-04"/>
				<xs:enumeration value="2012-06-05"/>
				<xs:enumeration value="2012-06-06"/>
				<xs:enumeration value="2012-06-08"/>
				<xs:enumeration value="2012-08-31"/>
				<xs:enumeration value="2012-09-01"/>
				<xs:enumeration value="2012-09-26"/>
				<xs:enumeration value="2012-10-10"/>
				<xs:enumeration value="2012-10-15"/>
				<xs:enumeration value="2012-10-17"/>
				<xs:enumeration value="2012-10-24"/>
				<xs:enumeration value="2012-10-26"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Event">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EventId"/>
				<xs:element ref="Name"/>
				<xs:element ref="EventClassificationId"/>
				<xs:element ref="EventStatusId"/>
				<xs:element ref="StartDate"/>
				<xs:element ref="FinishDate"/>
				<xs:element ref="WebURL"/>
				<xs:element ref="Comment"/>
				<xs:element ref="PunchingUnitType"/>
				<xs:element ref="ModifyDate"/>
				<xs:element ref="ModifiedBy"/>
			</xs:sequence>
			<xs:attribute name="eventForm" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="IndSingleDay"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="EventClass">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EventClassId"/>
				<xs:element ref="Name"/>
				<xs:element ref="ClassShortName"/>
				<xs:element ref="EventClassStatus"/>
				<xs:element ref="EventId"/>
				<xs:element ref="ClassTypeId"/>
				<xs:element ref="BaseClassId"/>
				<xs:element ref="ExternalId" minOccurs="0"/>
				<xs:element ref="ModifyDate"/>
				<xs:element ref="ClassRaceInfo"/>
			</xs:sequence>
			<xs:attribute name="lowAge">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="15"/>
						<xs:enumeration value="17"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="sex" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="B"/>
						<xs:enumeration value="M"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="numberInTeam" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="teamEntry" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="N"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="numberOfLegs" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="numberOfVacancies" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="maxNumberInClass" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="divideClassMethod" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="divideByClub"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="actualForRanking" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="N"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="timePresentation" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Y"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="totalResult" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Y"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="normalizedClass" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Y"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="numberOfPrizes" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="allowEntryInAdvance" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Y"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="sequence">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="350"/>
						<xs:enumeration value="520"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="EventClassId">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="11929"/>
				<xs:enumeration value="13302"/>
				<xs:enumeration value="16148"/>
				<xs:enumeration value="16152"/>
				<xs:enumeration value="16697"/>
				<xs:enumeration value="6073"/>
				<xs:enumeration value="6224"/>
				<xs:enumeration value="6349"/>
				<xs:enumeration value="6636"/>
				<xs:enumeration value="6871"/>
				<xs:enumeration value="6944"/>
				<xs:enumeration value="6982"/>
				<xs:enumeration value="7025"/>
				<xs:enumeration value="7096"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EventClassStatus">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="normal"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="EventClassificationId">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EventId">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="1474"/>
				<xs:enumeration value="1521"/>
				<xs:enumeration value="1522"/>
				<xs:enumeration value="1798"/>
				<xs:enumeration value="2134"/>
				<xs:enumeration value="467"/>
				<xs:enumeration value="538"/>
				<xs:enumeration value="541"/>
				<xs:enumeration value="555"/>
				<xs:enumeration value="556"/>
				<xs:enumeration value="557"/>
				<xs:enumeration value="558"/>
				<xs:enumeration value="860"/>
				<xs:enumeration value="879"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EventRaceId">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="1538"/>
				<xs:enumeration value="1585"/>
				<xs:enumeration value="1586"/>
				<xs:enumeration value="1867"/>
				<xs:enumeration value="2226"/>
				<xs:enumeration value="467"/>
				<xs:enumeration value="538"/>
				<xs:enumeration value="541"/>
				<xs:enumeration value="555"/>
				<xs:enumeration value="556"/>
				<xs:enumeration value="557"/>
				<xs:enumeration value="558"/>
				<xs:enumeration value="863"/>
				<xs:enumeration value="882"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EventStatusId">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ExternalId">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
				<xs:enumeration value="12"/>
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Family">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Rystad"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FinishDate">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Date"/>
				<xs:element ref="Clock"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FinishTime">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Date" minOccurs="0"/>
				<xs:element ref="Clock" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Given">
		<xs:complexType mixed="true">
			<xs:attribute name="sequence" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ModifiedBy">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PersonId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ModifyDate">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Date"/>
				<xs:element ref="Clock"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Name">
		<xs:complexType mixed="true">
			<xs:attribute name="languageId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="en"/>
						<xs:enumeration value="sv"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Organisation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OrganisationId"/>
				<xs:element ref="Name"/>
				<xs:element ref="ShortName"/>
				<xs:element ref="Country" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrganisationId">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="245"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Person">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PersonName"/>
				<xs:element ref="PersonId"/>
				<xs:element ref="BirthDate"/>
			</xs:sequence>
			<xs:attribute name="sex">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="M"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PersonId">
		<xs:complexType mixed="true">
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="nat"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="idManager" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SWE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PersonName">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Family"/>
				<xs:element ref="Given"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PersonResult">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Person"/>
				<xs:element ref="Organisation"/>
				<xs:element ref="Result"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PunchingUnitType">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Emit"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultId"/>
				<xs:element ref="BibNumber" minOccurs="0"/>
				<xs:element ref="CCardId" minOccurs="0"/>
				<xs:element ref="StartTime"/>
				<xs:element ref="FinishTime"/>
				<xs:element ref="Time" minOccurs="0"/>
				<xs:element ref="TimeDiff" minOccurs="0"/>
				<xs:element ref="ResultPosition" minOccurs="0"/>
				<xs:element ref="CompetitorStatus"/>
				<xs:element ref="ModifyDate"/>
				<xs:element ref="ModifiedBy"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultId">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="109534"/>
				<xs:enumeration value="109535"/>
				<xs:enumeration value="109536"/>
				<xs:enumeration value="119901"/>
				<xs:enumeration value="126253"/>
				<xs:enumeration value="172799"/>
				<xs:enumeration value="202461"/>
				<xs:enumeration value="207121"/>
				<xs:enumeration value="208270"/>
				<xs:enumeration value="66104"/>
				<xs:enumeration value="75112"/>
				<xs:enumeration value="79254"/>
				<xs:enumeration value="79259"/>
				<xs:enumeration value="87680"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ResultList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Event"/>
				<xs:element ref="ClassResult"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultListList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultList" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultPosition">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
				<xs:enumeration value="10"/>
				<xs:enumeration value="14"/>
				<xs:enumeration value="16"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="20"/>
				<xs:enumeration value="22"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="40"/>
				<xs:enumeration value="72"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShortName">
		<xs:complexType mixed="true">
			<xs:attribute name="languageId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="sv"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="StartDate">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Date"/>
				<xs:element ref="Clock"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StartTime">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Date"/>
				<xs:element ref="Clock"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Time">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="33:43"/>
				<xs:enumeration value="35:46"/>
				<xs:enumeration value="36:10"/>
				<xs:enumeration value="36:42"/>
				<xs:enumeration value="43:49"/>
				<xs:enumeration value="46:53"/>
				<xs:enumeration value="49:35"/>
				<xs:enumeration value="50:05"/>
				<xs:enumeration value="56:34"/>
				<xs:enumeration value="66:43"/>
				<xs:enumeration value="68:53"/>
				<xs:enumeration value="79:14"/>
				<xs:enumeration value="82:29"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TimeDiff">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0:00"/>
				<xs:enumeration value="10:58"/>
				<xs:enumeration value="11:16"/>
				<xs:enumeration value="11:33"/>
				<xs:enumeration value="11:51"/>
				<xs:enumeration value="13:47"/>
				<xs:enumeration value="14:06"/>
				<xs:enumeration value="16:47"/>
				<xs:enumeration value="1:55"/>
				<xs:enumeration value="2:59"/>
				<xs:enumeration value="7:45"/>
				<xs:enumeration value="8:38"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="WebURL">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="http://nydalen.idrett.no/orientering/2012/10/15/retronatta-2012/"/>
				<xs:enumeration value="http://nydalen.idrett.no/orientering/arrangementer/harry-lagert/"/>
				<xs:enumeration value="http://nydalen.idrett.no/orientering/arrangementer/klubbmesterskap/"/>
				<xs:enumeration value="http://student.umb.no/~orientering/ascup/2012/abnfc12.php"/>
				<xs:enumeration value="http://www.fossumif.no/nmhelg2012/hjem/"/>
				<xs:enumeration value="http://www.indre-ostfold.com"/>
				<xs:enumeration value="http://www.kolweb.no/pinselopet/hjem/"/>
				<xs:enumeration value="http://www.norwegianspring.no/"/>
				<xs:enumeration value="http://www.ok-moss.no/kjappen12/"/>
				<xs:enumeration value="http://www.oppsal.com"/>
				<xs:enumeration value="http://www.tyrving.idrett.no/o"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
